@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

$size375: "375px";

.base-prog-button {
  background-color: black;
  color: white;
  width: 220px;
  height: 70px;
  font-family: "Roboto", sans-serif;
  font-size: 2.4em;
  font-weight: bold;
  border-radius: 8px;
  @media (max-width: $size375) {
    width: 120px;
    font-size: 2em;
  }
  .base-prog-button-text {
    padding: 5.5% 0 0 0;
  }
  :hover {
    background-color: white;
    color: black;
    width: 220px;
    height: 60px; 
    border-radius: 8px;   
  }
}
.base-prog-button:active {
  box-shadow: 0 0 20px green;
}