$size1500: "1500px";
$size1000: "1000px";
$size800: "800px";
$size375: "375px";

.time-dropdown {
    width: auto;
    height: 300px;
    @media (max-width: $size500) {
        width: 50%;
    }
}

// .msl-vars {
//     --input-width: 80%;
// }