@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.time-btns {
  background-color: black;
  color: white;
  width: 140px;
  height: 40px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  margin: 10% 0 0 0;
//   :hover {
//       color: black;
//       background-color: white;
//   }
}
