@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

$size375: "375px";

.button-hover-border {
  :hover {
    box-shadow: 0 0 3px #ddd;
  }
}
.who-are-you-button {
  background-color: black;
  color: white;
  width: 350px;
  height: 235px;
  font-family: "Roboto", sans-serif;
  font-size: 1.7em;
  font-weight: bold;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: $size375) {
    width: 300px;
    height: 200px;
    padding: 0 2%;
  }
  .who-are-you-btn-text {
      width: 350px;
      height: 235px;
      display: flex;
      align-items: center;
      border-radius: 8px;
      @media (max-width: $size375) {
        font-size: 1em;
      }
  }
}