@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.who-are-you-button {
    background-color: black;
    color: white;
    width: 370px;
    height: 255px;
    font-family: "Roboto", sans-serif;
    font-size: 2em;
    font-weight: bold;
    border-radius: 8px;
    .who-are-you-btn-text {
        padding: 5% 0 0 0;
    } 
}