@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap");


$size2000: "2000px";
$size1500: "1500px";
$size1000: "1000px";
$size800: "800px";
$size500: "500px";
$size375: "375px";

.calendar-page {
  background-color: #a68227;
  background-image: url("./assets/bg-image.jpg");
  background-size: 120% 120%;
  background-repeat: no-repeat;
  background-position-x: 0%;
  background-position-y: 0%;
  margin: 0%;
  height: auto;
  .calendar-page-title {
    color: white;
    font-size: 4em;
    font-family: "Nunito", sans-serif;
    margin: 0%;
    padding: 5% 0 0 0;
    @media (max-width: $size1500) {
      padding: 5% 5% 0 0;
    }
    @media (max-width: $size375) {
      font-size: 2.2em;
    }
  }
  .calendar-page-paragraph {
    color: white;
    width: 40%;
    font-family: "Roboto", sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.6em;
    margin: 0 auto 3% auto;
    text-align: left;
    @media (max-width: $size1500) {
      width: 55%;
    }
    @media (max-width: $size1000) {
      width: 70%;
    }
    @media (max-width: $size375) {
      font-size: 1em;
      width: 90%;
    }
  }
  .time-zone-title {
    color: white;
    width: 30%;
    font-family: "Roboto", sans-serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.6em;
    margin: 0 auto;
    @media (max-width: $size375) {
      font-size: 1.5em;
      width: 40%;
    }
  }
  .dropdown {
    width: 20%;
    height: 35px;
    border-radius: 1px;
    padding: 1% 0 0 0;
    margin: 1% auto 0 auto;
    @media (max-width: $size1000) {
      width: 30%;
    }
    @media (max-width: $size800) {
      width: 30%;
    }
    @media (max-width: $size375) {
      width: 65%;
    }
  }
  .days {
    width: 95%;
    margin: 0 auto;
    .day-titles {
      color: white;
      font-size: 1.5em;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 5% 0 0 0;
      @media (max-width: $size800) {
        font-size: 1.1em;
      }
      @media (max-width: $size500) {
        display: none;
      }
      @media (max-width: $size375) {
        display: none;
      }
      .day {
        width: 130px;
      }
    }
  }
  .time-picker {
    width: 90%;
    margin: 0 auto;
    @media (max-width: $size500) {
      display: none;
    }
    .time-picker-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .time-dropdowns {
    @media (max-width: $size2000) {
      display: none;
    }
    @media (max-width: $size1500) {
      display: none;
    }
    @media (max-width: $size1000) {
      display: none;
    }
    @media (max-width: $size800) {
      display: none;
    }
    @media (max-width: $size500) {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin: 10% auto 10% auto;
    }
    @media (max-width: $size375) {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin: 10% auto 10% auto;
    }
    .drop-menu {
      @media (max-width: $size375) {
        margin: 10% 0 0 0;
        font-family: "Roboto", "san-serif";
        font-weight: bold;
        .drop-title {
          color: white;
          font-family: "Roboto", "san-serif";
        }
      }
    }
  }
  .time-prog-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
    margin: 6% auto 0 auto;
    padding: 0 0 5% 0;
    @media (max-width: $size1500) {
      width: 30%;
    }
    @media (max-width: $size1000) {
      width: 45%;
    }
    @media (max-width: $size800) {
      width: 58%;
    }
    @media (max-width: $size375) {
      width: 80%;
    }
  }
}
.drop-item {
  background-color: white;
  line-height: 1.5em;
}
