@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

$size1500: "1500px";
$size1000: "1000px";
$size800: "800px";
$size500: "500px";
$sizeiPhone: "375px";

.start-page {
  background-color: #533f7e;
  background-repeat: no-repeat;
  background-image: url("./assets/startPageBackground.svg");
  background-size: 120% 120%;
  background-position-x: 0%;
  background-position-y: 0%;
  height: 930px;
  border: 1px solid black;
  @media (max-width: $sizeiPhone) {
    height: 810px;
  }
  .start-page-title {
    color: white;
    font-size: 4em;
    font-family: "Paytone One", sans-serif;
    text-align: left;
    width: 35%;
    margin: 12% 0 0 40%;
    @media (max-width: $size1000) {
      margin: 25% 0 0 30%;
      text-align: center;
    }
    @media (max-width: $size800) {
      width: 100%;
      margin: 15% 5% 0 0%
    }
    @media (max-width: $size500) {
      margin: 30% 0 0 0;
    }
    @media (max-width: $sizeiPhone) {
      margin: 20% 0 0 0;
    }
  }
  .start-page-paragraph {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 2em;
    text-align: left;
    margin: 20% 0 0 7%;
    @media (max-width: $size1500) {
      margin: 25% 0 0 5%;
    }
    @media (max-width: $size1000) {
      margin: 30% 0 0 5%;
    }
    @media (max-width: $size800) {
      margin: 70% 0 0 7%;
    }
    @media (max-width: $size500) {
      margin: 105% 0 0 0;
      text-align: center;
    }
    @media (max-width: $sizeiPhone) {
      font-size: 1.5em;
      margin: 100% 0 0 0;
    }
  }
  #start-progress-button {
    margin: 2% 66% 0 0;
    @media (max-width: $size1000) {
      margin: 2% 51% 0 0;
    }
    @media (max-width: $size800) {
      margin: 2% 39% 0 0;
    }
    @media (max-width: $size500) {
      margin: 2% auto 0 auto;
    }
  }
}
