@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap");

$size1500: "1500px";
$size1000: "1000px";
$size800: "800px";
$size500: "500px";
$size375: "375px";

.start-page {
  background: url("./assets/bg-image.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: cover;
  height: 100vh;
  @media (max-width: $size500) {
    height: 820px;
  }
  @media (max-width: $size375) {
    height: 818px;
  }
  .start-page-title {
    color: white;
    font-size: 8em;
    font-family: "Nunito", sans-serif;
    text-align: left;
    width: 35%;
    margin: 0%;
    padding: 10% 0 0 6%;
    @media (max-width: $size1000) {
      font-size: 6em;
    }
    @media (max-width: $size800) {
      width: 80%;
      font-size: 5em;
      margin: 0 0 0 5%;
      padding: 10% 0 0 0;
    }
    @media (max-width: $size500) {
      font-size: 4em;
      margin: 0% auto;
      padding: 25% 0 0 0;
    }
    @media (max-width: $size375) {
      margin: 0% 0 0 8%;
      font-size: 3.2em;
    }
  }
  .start-page-paragraph {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 2em;
    text-align: left;
    margin: 15% 0 0 68%;
    @media (max-width: $size1500) {
      margin: 20% 0 0 67%;
    }
    @media (max-width: $size1000) {
      margin: 40% 0 0 56%;
    }
    @media (max-width: $size800) {
      margin: 55% 0 0 57.5%;
      font-size: 1.6em;
    }
    @media (max-width: $size500) {
      margin: 50% 0 2% 0;
      text-align: center;
    }
    @media (max-width: $size375) {
      font-size: 1.5em;
      margin: 50% 0 0 0;
    }
  }
  #start-progress-button {
    margin: 2% 0 0 60%;
    @media (max-width: $size1000) {
      margin: 2% 0 0 50%;
    }
    @media (max-width: $size800) {
      margin: 2% 0 0 54%;
    }
    @media (max-width: $size500) {
      margin: 2% auto 0 auto;
    }
    @media (max-width: $size375) {
      width: 80%;
      margin: 20% 0 0 0;
    }
  }
}
