@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

$size1000: "1000px";

.start-page {
  border: 1px solid black;
  .start-page-title {
    color: white;
    font-size: 4em;
    font-family: "Paytone One", sans-serif;
    padding: 6% 0 0 0;
  }
  .start-page-paragraph {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2em;
  }
  #start-progress-button {
    margin: 22% 0 0 10%;
    @media (max-width: $size1000) {
      margin: 32% auto 0 auto;
    }
  }
}