@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap");


$size1500: "1500px";
$size1000: "1000px";
$size800: "800px";
$size500: "500px";
$size375: "375px";

.tell-more-page {
  background-image: url("./assets/bg-image.jpg");
  background-size: 120% 120%;
  background-repeat: no-repeat;
  background-position-x: 0%;
  background-position-y: 0%;
  margin: 0%;
  height: 930px;
  .tell-more-title {
    color: white;
    font-size: 4em;
    font-family: "Nunito", sans-serif;
    margin: 0%;
    padding: 5% 0 0 0;
    @media (max-width: $size375) {
      font-size: 3em;
      padding: 0 5% 0 0;
    }
  }
  .tell-more-paragraph {
    color: white;
    width: 30%;
    font-family: "Roboto", sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.6em;
    margin: 0 0 1% 50%;
    text-align: left;
  }
  .contact-form {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 7% auto 0 auto;
    color: white;
    display: flex;
    flex-direction: column;
    @media (max-width: $size1500) {
      margin: 10% auto 0 auto;
    }
    @media (max-width: $size800) {
      width: 95%;
      margin: 5% auto 0 auto;
    }
    .text-boxes {
      display: flex;
      flex-direction: row;
      width: 100%;
      @media (max) {
        margin: 0 0 0 0%;
      }
      @media (max-width: $size800) {
        flex-direction: column;
        align-items: center;
      }
      .label {
        width: 80%;
        text-align: left;
        margin: 0 0 0 9%;
        @media (max-width: $size1500) {
          margin: 0 0 0 0%;
        }
      }
      .box {
        display: flex;
        flex-direction: column;
        width: 100%;
        @media (max-width: $size800) {
          width: 70%;
          margin: 0 0 2% 0;
        }
      }
      .contact-input {
        width: 80%;
        border-radius: 4px;
        border: none;
        height: 1.5em;
        font-size: 1.1em;
        padding: 0 0 0 2%;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        margin: 2% auto;
        @media (max-width: $size1500) {
          width: 94%;
          margin: 2% 0 2% 0%;
        }
        @media (max-width: $size800) {
          width: 95%;
        }
      }
    }
  }
  .notification-pref {
    color: white;
    width: 30%;
    font-family: "Roboto", sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.6em;
    text-align: right;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .notification-title {
    margin: 5% auto 5% auto;
    font-size: 1.5em;
    @media (max-width: $size1500) {
      margin: 10% 0 5% 0;
    }
    @media (max-width: $size800) {
      margin: 5% 0 3% 0;
    }
    @media (max-width: $size500) {
      margin: 15% auto 5% auto;
    }
  }
  .notification-pref {
    @media (max-width: $size800) {
      width: 50%;
    }
    @media (max-width: $size500) {
      width: 80%;
    }
  }
  .notification-buttons {
    width: 60%;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 2em;
    display: flex;
    justify-content: flex-end;
    margin: 5% auto 0 auto;
    display: flex;
    justify-content: space-around;
    .radio-button {
      margin: 0 2% 0 1%;
      height: 24px;
      width: 24px;
    }
  }

  .tell-more-prog-btns {
    margin: 10% auto 0 auto;
    width: 30%;
    display: flex;
    justify-content: space-between;
    @media (max-width: $size1500) {
      width: 39%;
      margin: 15% auto 0 auto;
    }
    @media (max-width: $size1000) {
      width: 60%;
    }
    @media (max-width: $size800) {
      margin: 15% auto 0 auto;
    }
    @media (max-width: $size500) {
      width: 95%;
      margin: 15% auto 0 auto;
    }
    @media (max-width: $size375) {
      width: 100%;
      justify-content: space-around;
    }
    .tell-more-prog-button {
      background-color: white;
      color: gray;
      border: none;
      width: 220px;
      height: 70px;
      font-family: "Roboto", sans-serif;
      font-size: 2.4em;
      font-weight: bold;
      border-radius: 8px;
      @media (max-width: $size375) {
        width: 44%;
      }
    }
  }
}
