$size1500: "1500px";
$size1000: "1000px";

.thanks-page {
  .thanks-page-title {
    color: white;
    font-size: 4em;
    font-family: "Paytone One", sans-serif;
    padding: 2% 0 0 19%;
    line-height: .5em;
    @media (max-width: $size1500) {
      margin: 0 0 0 10%;
    }
    @media (max-width: $size1000) {
      max-width: 100%;
      margin: 0 0 0 0;
    }
  }
  .thanks-page-paragraph {
    color: white;
    width: 40%;
    font-family: "Roboto", sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.6em;
    margin: 0 0 1% 40%;
    text-align: center;
    font-size: 2em;
    @media (max-width: $size1500) {
      margin: 0 0 0 45%;
    }
  }
  .thanks-prog-button {
    margin: 15% 70% 0 6%;
    @media (max-width: $size1500) {
      margin: 10% 70% 0 6%;
    }
  }
}
