.thanks-page-title {
    color: white;
    font-size: 4em;
    font-family: "Paytone One", sans-serif;
    padding: 2% 0 0 19%;
  }
  .thanks-page-paragraph {
    color: white;
    width: 40%;
    font-family: "Roboto", sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.6em;
    margin: 0 0 1% 40%;
    text-align: left;
  }