@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap");

$size1500: "1500px";
$size1000: "1000px";
$size375: "375px";

.thanks-page {
  background-image: url("./assets/bg-image.jpg");
  background-size: 120% 120%;
  background-repeat: no-repeat;
  background-position-x: 0%;
  background-position-y: 0%;
  margin: 0%;
  height: 930px;
  .thanks-page-title {
    color: white;
    font-size: 4em;
    font-family: "Nunito", sans-serif;
    padding: 5% 0 0 0;
    line-height: 0.5em;
    @media (max-width: $size1500) {
      margin: 0 auto;
    }
    @media (max-width: $size1000) {
      max-width: 100%;
      margin: 0;
    }
    @media (max-width: $size375) {
      font-size: 2.5em;
      line-height: 1em;
      width: 80%;
      margin: 0% 0 0 -10%;
    }
  }
  .thanks-page-paragraph {
    color: white;
    width: 40%;
    font-family: "Roboto", sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.6em;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    @media (max-width: $size1500) {
      margin: 0 auto;
    }
    @media (max-width: $size1500) {
      width: 60%;
    }
    @media (max-width: $size375) {
      width: 90%;
      font-size: 1.2em;
      margin: 0 auto;
    }
  }
  .thanks-prog-button {
    margin: 10% auto 0 auto;
    @media (max-width: $size1500) {
      margin: 10% auto 0 auto;
    }
    @media (max-width: $size375) {
      margin: 10% auto 0 0;
    }
  }
}
