@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");

.welcome-page {
    .welcome-page-title {
        color: white;
        font-size: 4em;
        font-family: "Paytone One", sans-serif;
    }
    .welcome-paragraph {
        color: white;
    }
    .welcome-progress-button {
        margin: 0 0 0 0;
    }
}