@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap");

$size1500: "1500px";
$size1000: "1000px";
$size800: "800px";
$size500: "500px";
$sizeiPhone: "375px";

.welcome-page {
  background-image: url("./assets/bg-image.jpg");
  background-size: 120% 120%;
  background-repeat: no-repeat;
  background-position-x: 0%;
  background-position-y: 0%;
  margin: 0%;
  height: 930px;
  max-width: 100%;
  @media (max-width: $sizeiPhone) {
    height: 812px;
  }
  .welcome-page-title {
    color: #ffffff;
    font-size: 4em;
    font-family: "Nunito", sans-serif;
    margin: 0 50% 2% 0;
    padding: 10% 0 0 0;
    @media (max-width: $size1500) {
      margin: 0 39% 0 0;
    }
    @media (max-width: $size1000) {
      margin: 0;
      padding: 5% 0 0 0;
    }
    @media (max-width: $size800) {
      font-size: 3.5em;
      padding: 2% auto 0 auto;
    }
    @media (max-width: $sizeiPhone) {
      font-size: 3em;
    }
  }
  .welcome-paragraph {
    color: rgb(255, 255, 255);
    width: 50%;
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.6em;
    margin: 0 0 0 5%;
    text-align: left;
    @media (max-width: $size1000) {
      margin: 5% auto 0 auto;
      width: 60%;
      text-align: center;
      line-height: 1.25em;
    }
    @media (max-width: $size800) {
      width: 80%;
    }
    @media (max-width: $size500) {
      width: 90%;
    }
    @media (max-width: $sizeiPhone) {
      font-size: 1.2em;
    }
  }
  #welcome-progress-button {
    margin: 12% 0 0 62%;
    @media (max-width: $size1000) {
      margin: 10% auto;
    }
    @media (max-width: $size500) {
      margin: 15% 0 0 0;
    }
  }
}
