@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap");


$size1500: "1500px";
$size1000: "1000px";
$size800: "800px";
$size375: "375px";

.who-are-you-page {
  background-image: url("./assets/bg-image.jpg");
  background-size: 120% 120%;
  background-repeat: no-repeat;
  background-position-x: 0%;
  background-position-y: 0%;
  margin: 0%;
  height: 930px;
  @media (max-width: $size375) {
    height: auto;
  }
  .who-are-you-title {
    color: white;
    font-size: 4em;
    font-family: "Nunito", sans-serif;
    margin: 0%;
    padding: 5% 1% 0 0;
    @media (max-width: $size1500) {
      margin: 0 auto;
    }
    @media (max-width: $size1000) {
      margin: 0 auto;
    }
    @media (max-width: $size375) {
      font-size: 3em;
      margin: 0 0 5% 0;
    }
  }
  .who-are-you-instructions {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    width: 35%;
    text-align: center;
    margin: 1% auto 0 auto;
    @media (max-width: $size1500) {
      margin: 0 auto;
    }
    @media (max-width: $size1000) {
      margin: 0 auto;
    }
    @media (max-width: $size375) {
      font-size: 1.2em;
    }
  }
  .who-are-you-button-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 45%;
    margin: 0 auto;
    @media (max-width: $size1500) {
      width: 55%;
      margin: 5% auto 0 auto;
    }
    @media (max-width: $size1000) {
      width: 80%;
      margin: 5% auto;
    }
    @media (max-width: $size800) {
      width: 100%;
    }
    @media (max-width: $size375) {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .who-are-you-btn {
      padding: 10% 0 10% 0;
      @media (max-width: $size375) {
        margin: auto;
      }
    }
    #who-btn-2 {
      margin: 0 10% 0 0;
    }
  }
  .who-are-you-prog-button-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
    margin: 0 auto;
    @media (max-width: $size1500) {
      width: 31%;
      margin: 5% auto 0 auto;
    }
    @media (max-width: $size1000) {
      width: 45%;
      margin: 20% auto 0 auto;
    }
    @media (max-width: $size800) {
      width: 60%;
    }
    @media (max-width: $size375) {
      margin: 0% auto;
      display: flex;
      flex-direction: row;
      width: 70%;
    }
    .prog-button {
      margin: 0 0 10% 0;
    }
  }
}
